.header {
  background-image: url("../img/f-car-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

.header-span {
  font-weight: normal;
}

.header-title {
  font-size: 5rem;
  font-weight: bolder;
}

.topbar {
  display: none;
}

.menu {
  display: none;
  height: 100vh;
  align-items: center;
  gap: var(--gap);
  position: absolute;
  top: 0;
  width: 60%;
  flex-direction: column;
}

.menu .logo {
  margin-top: 5rem;
}

.navbar {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.link {
  color: var(--clr-dark);
}

.link:hover,
.link:active {
  color: var(--clr-primary);
}

.visible {
  display: flex;
}

.nav {
  flex-direction: column;
  gap: 3rem;
}

a:hover,
a:active {
  color: var(--clr-primary);
}

.btn-campaign {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--clr-white);
  color: var(--clr-primary);
  border: 3px solid var(--clr-primary);
}

.bg-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/bg-img.jpg");
}

.main {
  background-image: url("../img/tire-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 2rem;
}

.main > div {
  gap: var(--gap);
}

.card-mains {
  flex-direction: column;
  flex-basis: 3rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.btn-close,
.btn-menu {
  margin: 2rem 0 0 2rem;
}

.btn-close {
  position: absolute;
  left: 2%;
}

.card {
  padding: 1rem;
  border: 3px solid #fff;
}

.card-main {
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
}

.btn {
  padding: 2rem 3rem;
  display: block;
}

.btn-main-desktop {
  display: none;
}

.partner {
  fill: var(--clr-dark);
}

.drivers {
  padding-bottom: 2rem;
}

.driver-img {
  width: 100%;
  position: relative;
}

.driver-img::before {
  background-image: url(../img/checkers.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80%;
  height: 100px;
  content: "";
  z-index: -10;
  position: absolute;
  left: -10px;
  top: -10px;
}

.btn-driver {
  width: 100%;
  background: none;
  border: 1px solid var(--clr-light);
  padding: 0.5rem 0;
}

.btn-driver > i {
  margin-left: 1rem;
}

.about {
  padding-block: 3rem;
}

.about-desc {
  max-width: 60%;
}

.card-about {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-light);
}

.champions {
  padding-block: 3rem;
}

.champion {
  width: 45ch;
  height: 40vh;
  position: relative;
  color: var(--clr-white);
  background-color: rgb(236, 82, 66);
  z-index: 2;
}

.champion > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.champion-one::after,
.champion-two::after {
  content: "";
  background-color: var(--clr-primary);
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  background-size: cover;
  transform: scale(2);
  transform-origin: 100% 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.champion-one::after {
  background-image: url("../img/champion-2021.jpg");
}

.champion-two::after {
  background-image: url("../img/champion-2020.jpg");
}

.st64 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #231f20;
  stroke: #231f20;
  stroke-width: 0.216;
  stroke-miterlimit: 22.9256;
}

.mc-2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ed1c24;
}

.mc-3 {
  fill: #efeff0;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.rb-1 {
  fill: #e21b4d;
}

.rb-2 {
  fill: #e21b4d;
}

.rb-3 {
  fill: #ffd300;
}

.g-rb-1 {
  fill: #e21b4d;
}

.rb-4 {
  clip-rule: evenodd;
  fill: #ffd300;
  fill-rule: evenodd;
}

.rb-5 {
  clip-rule: evenodd;
}

.rb-6 {
  fill-rule: evenodd;
}

.bz-1 {
  stroke: #000;
}

.bz-2 {
  stroke: #000;
}

.index-partners {
  display: none;
}

.footer {
  padding-block: 3rem;
}

.index-footer {
  display: none;
}

.about-partners {
  display: block;
}

.partners-header {
  padding-block: 1rem;
  position: relative;
}

.drivers .drivers-header,
.main-header,
.about-header,
.champions-header {
  padding-block: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.drivers .drivers-header::after,
.partners-header::after,
.main-header::after,
.about-header::after,
.champions-header::after {
  content: "";
  background: var(--clr-primary);
  position: absolute;
  bottom: -20%;
  left: 25%;
  margin: 0 auto;
  height: 5%;
  width: 30px;
}

.partners-header::after,
.main-header::after,
.about-header::after,
.champions-header::after {
  left: 48%;
}

@media (min-width: 768px) {
  .header > h1,
  .header-about > h1 {
    margin-top: 10%;
  }

  .navbar {
    flex-direction: row;
  }

  .topbar {
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap);
    padding-right: 8%;
    height: 4vh;
  }

  .btn-menu,
  .btn-close {
    display: none !important;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    background-color: var(--clr-white);
    width: 100%;
    max-width: 100%;
    padding-inline: 8%;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }

  .menu .logo {
    margin-top: 0;
  }

  .nav {
    flex-direction: row;
  }

  .card-header {
    width: 70%;
    margin-inline-start: 7%;
  }

  .card-mains {
    flex-direction: row;
  }

  .card-main {
    flex-direction: column;
  }

  .card-main > svg {
    width: 50px;
    height: 50px;
  }

  .btn-main-mobile {
    display: none;
  }

  .btn-main-desktop {
    display: block;
    background: transparent;
    text-decoration: underline;
  }

  .drivers .drivers-header {
    grid-area: drivers-header;
    position: relative;
  }

  .drivers {
    grid-template-areas:
      "drivers-header drivers-header"
      " . .";
  }

  .btn-driver {
    display: none;
  }

  .champions .champions-header {
    grid-area: champions-header;
  }

  .champions .champion-desc {
    grid-area: champions-desc;
  }

  .champions {
    grid-template-areas:
      "champions-header champions-header"
      " champions-desc champions-desc";
  }

  .card-about {
    width: 60%;
  }

  .card-logo {
    width: 25%;
    padding: 2rem;
  }

  .index-partners {
    display: block;
  }

  .about-partners {
    display: none;
  }

  .index-footer {
    display: flex;
  }

  .about-footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
}
